.skip {
    bottom: 5px;
    left: 5px;
    position: fixed;
}

.next {
    bottom: 5px;
    right: 5px;
    position: fixed;
}

.appBarTitle {
    left: 10px;
    position: relative;
}

.appBarLoginContainer {
    right: 10px;
    position: absolute;
}

.drawerList {
    width: 250px;
}

.clickbox {
    margin: 2%;
    cursor: pointer;
}

.clickbox-link {
  all: unset;
}

a.adminLink:link {
    color: white;
    text-decoration: none;
}
a.adminLink:visited {
    color: white;
}
  
a.adminLink:hover {
    cursor: pointer;
    color: white;
}
  
a.adminLink:active {
    color: blue;
}
