.adminPageContainer {
    margin: 5%;
    margin-right: '5%';
    margin-left: '5%';
    margin-bottom: 0;
}
.addButtonContainer {
    float: left;
}
.saveButtonContainer {  
    float: right;
}
.removeButtonContainer {
    float: left;
    margin-left: 5px;
}