.adminPageContainer {
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0;
    padding: 0;
}
.addButtonContainer {
    float: left;
}
.saveButtonContainer {  
    float: right;
}
.removeButtonContainer {
    float: left;
    margin-left: 5px;
}

.questionFormContainer {
    margin: 2%;
    margin-top: 0;
}

.flaggedQuestionsContainer {
    margin: 2%;
    margin-top: 0;
}