.login-page {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.login-form-container {
  flex: 1;
  max-width: 360px;
  min-width: 300px;
}

.error {
  margin-top: 10px;
  display: block;
  color: red;
  word-break: break-word;
}